<header
  class="flex justify-between items-center border-b-1 pb-3 cursor-pointer"
>
  <h1 routerLink="/" class="text-xl text-blue-600 font-bold">Human Resource</h1>
  <nav>
    <div class="flex gap-4">
      <button mat-button routerLink="/">Dashboard</button>
      <button mat-button routerLink="/recruitment">Recruitment/Hiring</button>
      <button mat-button routerLink="/employees">Employee Management</button>
      <button mat-button routerLink="/request">Leave Request</button>
    </div>
  </nav>

  <div>
    <button matButton="filled" routerLink="/roles">Logout</button>
  </div>
</header>
